body {
  background: radial-gradient(ellipse at center, #000000 0%, #0f0f0f 100%);
  color: #00ff99;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  margin-top: 100px;
  text-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
}

p {
  font-size: 1.2em;
  opacity: 0.8;
}

.smoke {
  background: url('https://media.giphy.com/media/l0MYyDa8KOWkB4aIo/giphy.gif') no-repeat center center;
  background-size: cover;
  opacity: 0.2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
